.carousel-inner img {
    width: 100%;
    height: 100%;
}

.dropdown-m {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: absolute;
    background: white;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.25s linear;
    z-index: 8000;
    width: 100%;
}

.dropdown-profile {
    background-color: yellow;
}

.dropdown-gallery {
    background-color: magenta;
}

.dropdown-contact {
    background-color: cyan;
}

.navbar {
    position: relative;
    padding: 0;
    z-index: 9000;
    background-color: black;
}

.navbar-black {
    background-color: black;
}


.navbar-tile {
    position: relative;
    z-index: 7000;
    width: 100%;
    background-image: url("/static/default_images/test_navbar_tile.png");
    background-repeat: repeat-x;
    padding: 1vw;
}

.navbar-dropdown-tile {
    transform: translateY(100%);
    position: fixed;
    bottom: 0;
}

.nav-item {
    position: relative;
    width: 15vw;
    background: #000000;
    z-index: 9000;
}

.nav-link {
    position: relative;
    background: #000000;
    z-index: 9999;
    size: auto;
}

.nav-link img {
    size: auto;
}

.dropdown:hover .dropdown-m {
    transform: translateY(0%);
    visibility: visible;
}

#carousel {
    position: relative;
    z-index: 8500;
}

.flex-container {
    display: flex;
}

.flex-item {
    padding: 2vw;
}

#gallery {
    width: 100%;
}

.gallery-album-container {
    max-width: 25em;
    min-width: 33%;
    max-height: 25em;
    min-height: 33%;
    /*border-style: solid;*/
    /*border-color: #0c63e4;*/
}

.gallery-cover-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    /*min-width: 10em;*/
    object-fit: contain;
}