{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>PAGE TITLE</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-black navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Kinkostfur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'gallery' %}">
                    <img src="{% static 'default_images/default_icon_yellow.png' %}">
                </a>
                <div class="dropdown-m dropdown-profile">
                    bong
                    <img class="navbar-dropdown-tile" src="{% static STATIC_URL %}/default_images/test_navbar_tile.png">
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'gallery' %}">
                    <img src="{% static 'default_images/default_icon_magenta.png' %}">
                </a>
                <div class="dropdown-m dropdown-gallery">
                    {% for album in albums %}
                        <a class="dropdown-item" href="{% url 'album' title_slug=album.slug %}">{{ album.title }}</a>
                    {% endfor %}
                    <img class="navbar-dropdown-tile" src="{% static STATIC_URL %}/default_images/test_navbar_tile.png">
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'gallery' %}">
                    <img src="{% static 'default_images/default_icon_cyan.png' %}">
                </a>
                <div class="dropdown-m dropdown-contact">
                    bong
                    <img class="navbar-dropdown-tile" src="{% static STATIC_URL %}/default_images/test_navbar_tile.png">
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="navbar-tile"></div>

{% block content %}
{% endblock %}

</body>

{#    <script src="{% static 'js/scripts.js' %}"></script>#}
</html>